# Uncomment if your LM Studio instance is remote, and set api endpoint
#LM_STUDIO_URL=

# Add your Tavily API Key here
TAVILY_API_KEY=

# Add your LangSmith API Key here
LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=false

# Add your LangSmith Project Name here
LANGCHAIN_PROJECT=
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com